.group-panel-about {
    padding-top: 4%;
    margin: auto;
    width: 85%;
}

div.logo-nav>div.navigation>ul>a.nav-active>li {
    border-bottom: 1px solid;
}


@media only screen and (max-width: 768px) {
    .group-panel-about {
        width: 100%;

    }
}