.Text-banner {
    font-family: Montserrat;
    font-size: 48px;
    font-weight: 500;
    line-height: 68px;
    letter-spacing: 0em;
    text-align: left;
    color: #fff;
    z-index: 1;
    position: absolute;

}

.group-img-text {
    height: 223px;
    display: flex;
    justify-content: center;
    align-items: center;


}

.img-banner-background {
    background-image: url(/src/assets/fonts/img/IMG.png);
    background-position: center;
    border-radius: 25px;
    height: 100%;
    width: 100%;
    filter: brightness(0.8);

}

.img-banner-background.banner-home {
    filter: brightness(0.7);
}