.Errorpage-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}


.Text-404 {
    font-family: Montserrat;
    font-size: 288px;
    font-weight: 700;
    letter-spacing: 0em;
    text-align: center;
    margin-top: 5rem;


}

.logo-nav {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;

}





.Error-Title {

    font-family: Montserrat;
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 5rem;
    text-align: center;



}

div>div.Errorpage-content>a>h4 {

    color: #FF6060;
    border-bottom: solid;
    padding: 0;


}




/*************************media queries *********************/

@media only screen and (max-width: 700px) {


    .Text-404 {
        font-size: 200px;
    }


}

@media only screen and (max-width: 650px) {


    .Text-404 {
        font-size: 150px;
    }


}

@media only screen and (max-width: 600px) {


    .Text-404 {
        font-size: 100px;
    }


}

@media only screen and (max-width: 500px) {


    .Text-404 {
        font-size: 96px;
    }


}

@media only screen and (max-width: 700px) {


    .Error-Title {
        font-size: 25px;
    }


}

@media only screen and (max-width: 600px) {


    .Error-Title {
        font-size: 18px;
    }


}

@media only screen and (max-width: 600px) {

    div>div.Errorpage-content>a>h4 {
        font-size: 14px;
    }
}