.logo-nav.LogoFicheLogement {
    padding: 0;
}

ul.ListPicture {
    height: 314px;
    padding: 0;
}

.logement-host>span.div-img>img {
    background-color: gray;
    width: 52px;
    height: 52px;
    bottom: 452px;
    left: 91px;
    border-radius: 30px;

}

.logement-host {
    display: flex;
    align-items: center;
    justify-content: flex-end;


}

.div-name {

    padding-right: 5%;



}

p.name {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: right;

}

.host-star {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

section>div.group-main>div.location-tag>div.logement-tags>ul>li {
    border-radius: 10px;
    background-color: #ff6060;
    color: #fff;
    display: flex;
    align-items: center;
    padding-inline: 20px;
    padding-bottom: 2px;
    margin: 10px 20px 0 0;
    height: 25px;
    font-size: 14px;



}

section>div.group-main>div.location-tag>div.logement-tags>ul {
    padding-inline: 0px;
    display: flex;
}

.logement-location>p {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;

}

.logement-description>h4,
.logement-equipement>h4 {
    display: flex;
    align-items: center;
    height: 52px;
    border-radius: 10px;
    background-color: #ff6060;
    bottom: 0;
    padding-inline: 5%;
    margin: 0;
}

section>div.description-equipement>div.logement-description>p {
    display: block;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0em;
    text-align: left;
    margin-block-end: 3em;
    margin-inline-end: 91px;
    line-height: 1.6em;


}

section>div.description-equipement>div.logement-equipement>ul {
    display: flex;
    flex-direction: column;
}

.description-equipement {
    display: flex;
    padding-bottom: 2%;
    gap: 1rem;
    align-items: flex-start;
}

.logement-description {
    width: 582px;
    height: 249px;
    border-radius: 10px;
    background-color: #F6F6F6;



}

.logement-equipement {
    width: 582px;
    height: 249px;
    border-radius: 10px;
    background-color: #F6F6F6;


}

.group-main {
    display: flex;
    justify-content: space-between;

}









/********************Media queries *****************/


@media only screen and (max-width: 768px) {
    div.logo-nav.LogoFicheLogement>div.navigation>ul>a:nth-child(1)>li {
        border-bottom: 1px solid;
    }

    section>div.group-main>div.location-tag>div.logement-tags>ul {
        flex-wrap: wrap;
    }

    .group-main {
        flex-wrap: wrap;
    }

    .host-star {
        justify-content: space-between;
        width: 100%;
        flex-direction: row-reverse;
        align-items: center;
    }

    .description-equipement {
        flex-direction: column
    }


}