.footer-content {
    background-color: black;
    margin-top: 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 1rem;
}

.text-content-footer {
    color: white;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 500;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: center;

}

div.footer-content>div.logo-footer>img {
    width: 122px;
    height: 39.44px;
    position: relative;

    color: white;
}

@media only screen and (max-width: 650px) {
    div.text-content-footer>p {
        font-size: 12px;
        line-height: 17px;
        text-align: center;

    }
}