.logement-panel-about {
    width: 100%;
    border-radius: 10px;
    background-color: #F6F6F6;



}

.logement-panel-about>.group-title-chevron>h4 {
    display: flex;
    align-items: center;
    height: 52px;
    border-radius: 10px;
    background-color: #ff6060;
    bottom: 0;
    padding-inline: 5%;
    margin: 0;
}

.group-title-chevron {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ff6060;
    border-radius: 10px;

}

.elementChevronUp {
    color: white;
    padding-right: 3%;
}

#root>div>div:nth-child>p {
    border-radius: 10px;

}

.visible {
    display: contents;
}

.hidden {
    display: none;
}