.group-slideshow {
    position: relative;

}


.Chevron {
    z-index: 2;
    position: absolute;
    color: white;
    cursor: pointer;
    top: 37%;
    font-size: 6rem;
    left: 86%;
}

.Chevron.left {
    left: 3%;
    rotate: 180deg;
}

.Chevron.right {
    rotate: 180deg;
    left: 91%;
}

div.group-slideshow>div>div>ul>img {

    width: 100%;
    height: 100%;
    border-radius: 25px;
    display: none;
    object-fit: cover;

}

div.group-slideshow>div>div>ul>img.show {
    display: flex;
    object-fit: cover;
}

.numberIndexPicture {
    top: 87%;
    position: absolute;
    left: 48%;
    color: white;
}

div.picture-slideshow-one-picture>ul>img {
    width: 100%;
    height: 100%;
    border-radius: 25px;

    object-fit: cover;

}




/***********Media queries********************/

@media only screen and (max-width: 768px) {
    .Chevron {
        height: 70px;
    }
}

@media only screen and (max-width: 700px) {
    .Chevron {
        height: 60px;
    }
}

@media only screen and (max-width: 650px) {
    .Chevron {
        height: 50px;
    }
}

@media only screen and (max-width: 600px) {
    .Chevron {
        height: 40px;
    }

    .numberIndexPicture {
        display: none;

    }
}

@media only screen and (max-width: 550px) {
    .Chevron {
        height: 30px;
        top: 45%;
    }
}