.group-slideshow {
    position: relative;

}


.Chevron {
    z-index: 2;
    position: absolute;
    color: white;
    cursor: pointer;
    top: 40%;
    font-size: 6rem;
}

.Chevron.left {
    left: 30px;
}

.Chevron.right {

    right: 5px;
}

div.group-slideshow>div>div>ul>img {

    width: 100%;
    height: 100%;
    border-radius: 25px;
    display: none;

}

div.group-slideshow>div>div>ul>img.show {
    display: flex;
}

.numberIndexPicture {
    top: 87%;
    position: absolute;
    left: 48%;
    color: white;
}