@import "./index.css";
@import "../styles/components/logo.css";
@import "../styles/components/Error.css";
@import "../styles/components/Banner.css";
@import "../styles/components/Navigation.css";
@import "../styles/components/Card.css";
@import "../styles/components/Footer.css"

;
@import "../styles/components/FicheLogement.css";
@import "../styles/components/About.css";
@import "../styles/components/LogementPanel.css";
@import "../styles/components/Slideshow.css";
@import "../styles/components/Home.css";



body {

  font-family: 'Montserrat', sans-serif;
  color: #FF6060;
  padding: 4%;
  margin: 0;

}

@media only screen and (min-width:1240px) {
  body {
    width: 1240px;

  }

}